.App {
  text-align: center;
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
}

select {
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
}

input {
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
}

.main {
  margin: 20px;
}

.App-logo {
  height: 12vmin;
}

.App-header {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
